<ion-header class="background-center" translucent="true">
  <ion-toolbar color="blue">
    <ion-item class="ion-item" color="blue">
      <ion-icon
        (click)="goback()"
        class="icon"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-title class="title-header">Thông tin hành khách</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
<div>
  <ion-item style="--background: var(--ion-background-color, #fff)">
    <ion-label style="font-size: 16px; font-weight: bold;"> THÔNG TIN HÀNH KHÁCH</ion-label>
  </ion-item>
  <ion-item>
    <ion-title>Người lớn</ion-title>
    <small>Nhập thông tin</small>
  </ion-item>
  <div [hidden]="!isHidden">
  <ion-item>
    <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
  </ion-item>
</div>
<ion-item>
  <ion-title>Sinh viên</ion-title>
  <small>Nhập thông tin</small>
</ion-item>
<div [hidden]="!isHidden">
<ion-item>
  <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
</ion-item>
</div>
<ion-item>
  <ion-title>Người lớn tuổi (từ 60 tuổi)</ion-title>
  <small>Nhập thông tin</small>
</ion-item>
<div [hidden]="isHidden">
<ion-item>
  <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
</ion-item>
<ion-item>
  <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
</ion-item>
</div>
</div>
  <div>
  <ion-item style="--background: var(--ion-background-color, #ecf0f5)">
    <ion-label style="font-size: 18px"> THÔNG TIN HÀNH KHÁCH</ion-label>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Người lớn">
      <ion-select-option value="f">Người lớn</ion-select-option>
      <ion-select-option value="m">Sinh Viên</ion-select-option>
      <ion-select-option value="g">Người lớn tuổi (từ 60 tuổi)</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
  </ion-item>
</div>

  <ion-item style="--background: var(--ion-background-color, #ecf0f5)">
    <ion-label style="font-size: 18px">THÔNG TIN NGƯỜI ĐẶT</ion-label>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Họ tên"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Số điện thoại"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox></ion-checkbox>
    <ion-title style="font-size: 14px">Xuất hóa đơn</ion-title>
  </ion-item>
</ion-content>
<ion-footer style="--background: var(--ion-background-color, #ecf0f5)">
  <ion-button style="width: 99%">Tiếp tục</ion-button>
</ion-footer>
