<ion-header class="background-center" translucent="true">
  <ion-toolbar color="blue">
    <ion-item class="ion-item" color="blue">
      <ion-icon
        (click)="goback()"
        class="icon"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-title class="title-header">Thông tin hành khách</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
<div class="div-border" *ngIf="isShowb">
  <ion-item class="item-border-block" >
    <ion-label style="font-size: 18px; font-weight: bold;"> Thông tin khách hàng</ion-label>
  </ion-item>
  <div *ngFor="let item of doiTuong">
  <ion-item (click)="onClickNguoiLon(item)" class="item-border">
    <ion-title style="font-size: 15px; font-weight: bold;">{{item}}</ion-title>
    <small>Nhập thông tin</small>
  </ion-item>
  <div [hidden]="isHidden">
  <ion-item class="item-border-block">
    <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"[(ngModel)]="ten"></ion-input>
  </ion-item>
  <ion-item class="item-border-block">
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *" [(ngModel)]="socmnd"></ion-input>
  </ion-item>
</div>
</div>
<!-- <ion-item (click)="onClickSinhVien()" *ngIf="isShow" class="item-border">
  <ion-title style="font-size: 15px; font-weight: bold;">{{sinhvien}}</ion-title>
  <small>Nhập thông tin</small>
</ion-item>
<div [hidden]="isHiddenb" >
<ion-item class="item-border-block">
  <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
</ion-item>
<ion-item class="item-border-block">
  <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
</ion-item>
</div>
<ion-item (click)="onClickLonTuoi()"*ngIf="isShowb" class="item-border">
  <ion-title style="font-size: 15px; font-weight: bold;">{{nguoilontuoi}} (từ 60 tuổi)</ion-title>
  <small>Nhập thông tin</small>
</ion-item>
<div [hidden]="isHiddenc" >
<ion-item class="item-border-block">
  <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"></ion-input>
</ion-item>
<ion-item class="item-border-block">
  <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"></ion-input>
</ion-item>
</div> -->
</div>
  <div *ngIf="isShow">
  <ion-item class="item-border">
    <ion-label style="font-size: 18px ; font-weight: bold;"> Thông tin khách hàng</ion-label>
  </ion-item>
    <ion-select placeholder="Người lớn" (ionChange)="onSelect($event)" Interface='action-sheet'>
      <ion-select-option class="title-option" *ngFor="let item of data" [value]="item.name">{{item.name}}</ion-select-option>
    </ion-select>
  <ion-item class="item-border-block">
    <ion-input placeholder="Nhập họ tên (VD: NGUYEN VAN A) *"[(ngModel)]="name"></ion-input>
  </ion-item >
  <ion-item >
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *"[(ngModel)]="CMND"></ion-input>
  </ion-item>
</div>
<div >
  <ion-item class="item-border-block" >
    <ion-label style="font-size: 18px; font-weight: bold;">Thông tin đặt hàng</ion-label>
  </ion-item>
  <ion-item >
    <ion-input placeholder="Họ tên" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item >
    <ion-input placeholder="Nhập CMND/ Hộ chiếu/ GPLX *" [(ngModel)]="CMND"></ion-input>
  </ion-item>
  <ion-item >
    <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item >
    <ion-input placeholder="Số điện thoại" [(ngModel)]="phone"></ion-input>
  </ion-item>
</div>
  <ion-item class="item-border-block">
    <ion-checkbox [(ngModel)]="isCheck"></ion-checkbox>
    <ion-title style="font-size: 14px">Xuất hóa đơn</ion-title>
  </ion-item>
  <div *ngIf="isCheck">
    <ion-item >
      <ion-input placeholder="Tên công ty" [(ngModel)]="nameCty"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input placeholder="Mã số thuế" [(ngModel)]="maThue"></ion-input>
    </ion-item>
    <ion-item >
      <ion-input placeholder="Địa chỉ" [(ngModel)]="address"></ion-input>
    </ion-item>
  </div>
</ion-content>
<ion-footer style="--background: var(--ion-background-color, #ecf0f5)">
  <ion-button style="width: 99%" (click)="onclick()">Tiếp tục</ion-button>
</ion-footer>
