
.background-center{
    background-color: blue;
    
}
.title-header{
    text-align: center;
    color: white;
    font-weight: bold;
}
.icon{
    font-size: 30px;
    color: white;
}
.ion-content{
    --background: var(--ion-background-color, #ecf0f5);
}


