.background-center{
    background-color: blue;
     
}
.icon{
    font-size: 25px;
}
.title-header{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;

}
.content{
    font-size: 14px;
    margin-top: 3px;
   // --background: var(--ion-background-color, #fff)
}
.item{
    width: 100%;
    background-color: aqua;
}
.ion-content{
    //width: 100%;
}
.selected{
    color: blue;
    --background: var(--ion-background-color, #ecf0f5) !important;
}
