.ion-label{
    font-size: 12px;
}
.ion-contnet{
    top: 10px;
    left: 20px;
}
.ion-label-search{
    font-size: 18px;
}
.ion-label-header{
    font-size: 16px;
}
.ion-label-adrress{
    font-size: 14px;
}