.title-header{
    text-align: center;
    font-weight: bold;
    color: white;
}
.ion-item{
    // --border: var(ion-color-none);
    // border-color: var(--ion-color-none);
}
.icon{
    color: white;
    font-size: 30px;
}
.div-background-content{
    //background-color: yellow;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
}
.background-center{
   background-color: blue;
    
}
.ion-content{
    width: 100%;
    --background: var(--ion-background-color, #ecf0f5);
}
.ion-label-search{
    font-size: 20px;
    font-weight: bold;
}
.ion-label-header{
    font-size: 16px;
    font-weight: bold;
}
.ion-label-adrress{
    font-size: 14px;
}
.div-search{
    
    border-radius: 5px;
    margin-left: -1px;
    width: 55%;
}
.item-search{
    //--border: var(ion-color-none)
}

.item-locate{
    border-radius: 5px;
    width: 40%;
    margin-left: 223px;
    // text-align: right;
    // align-items: right;
    margin-top: -49px;
    //display: block;
    //--border: var(ion-color-none)
}
.label-search{
    font-size: 12px;
}
.label-locate{
    font-size: 14px;
    color: blue;
}
.label-address{
    font-size: 16px;
    font-weight: bold;    
    top: 10px;
}
.ion-label{
    font-size: 14px;
}
.div-search-popular{
    margin-top: 10px; 
    box-shadow: 5px 1px 5px 2px lightblue; 
    background-color: white;
    border-radius: 8px;
    width: 130px; 
    height: 90px;
}
.div-content-popular{
    height: 20px;
    background-color: yellow;
}
.ion-list{
    margin-top: 10px;
}