<ion-header class="center">
    <ion-toolbar>
        <ion-item>
        <ion-title style="text-align: center;">Chuyến đi của tôi</ion-title>
    </ion-item>
        <ion-tabs>
            <!-- Tab bar -->
            <ion-tab-bar slot="top">
              <ion-tab-button tab="sapdi">
                <label>Sắp đi</label>
              </ion-tab-button>
              <ion-tab-button tab="dadi">
                <label>Đã đi</label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
    <img src="../../assets/empty/trip_empty.svg" width="100%" height="50%"/>
    <ion-label>Vui lòng đăng nhập để xem chuyến đi</ion-label>
    <ion-button color="orangered" class="ion-button">Đăng nhập ngay</ion-button>
</ion-content>