<ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <label>Trang chủ</label>
      </ion-tab-button>
      <ion-tab-button tab="trip">
        <ion-icon name="train-outline"></ion-icon>
        <label>Chuyến đi</label>
      </ion-tab-button>
      <ion-tab-button tab="nofitication">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <label>Thông báo</label>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-icon name="person-circle-outline"></ion-icon>
        <label>Tài khoản</label>
      </ion-tab-button>
            <ion-tab-button tab="danhmuc">
        <label>Danh mục</label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>