<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-icon (click)="goback()" name="arrow-back-outline"></ion-icon>
    <ion-title style="text-align: center">Chọn ga đi</ion-title>
  </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-contnet">
  <ion-searchbar placeholder="Nhập tên thành phố hoặc ga"></ion-searchbar>
  <ion-label class="ion-label-search">Tìm kiếm phổ biến</ion-label>

  <ion-list>
    <ion-radio-group>
      <ion-item>
        <div>
        <ion-label class="ion-label-city">Ga Sài Gòn</ion-label>
        <ion-label class="ion-label-adrress">Quận 3, Hồ CHí Minh</ion-label>
      </div>
        <ion-radio slot="end" value="Ga Sài Gòn"></ion-radio>
      </ion-item>
      <ion-item>
        <div>
        <ion-label class="ion-label-city">Ga Quảng Ngãi</ion-label>
        <ion-label class="ion-label-adrress">Quận 3, Hồ CHí Minh</ion-label>
      </div>
        <ion-radio slot="end" value="Ga Quảng Ngãi"></ion-radio>
      </ion-item>
  
      <ion-item>
        <div>
        <ion-label class="ion-label-city">Ga Đức Phổ</ion-label>
        <ion-label class="ion-label-adrress">Quận 3, Hồ CHí Minh</ion-label>
      </div>
        <ion-radio slot="end" value="Ga Đức Phổ"></ion-radio>

      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>