.background-center{
    background-color: blue;
     
}
.icon{
    font-size: 25px;
}
.title-header{
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.title{
    font-size: 14px;
    font-weight: bold;
}
.content{
    font-size: 12px;
    margin-top: 3px;
}
.icon-add{
    font-size: 15px;
}
.icon-remove{
    font-size: 15px;
}
.ion-item{
    //--background: var(--ion-background-color, #fff);
    //--color: var(--ion-toolbar-color, var(--ion-text-color, blue));
    height: 75px;
}
.ion-items{
    //--background: var(--ion-background-color, #fff);
    --color: var(--ion-toolbar-color, var(--ion-text-color, blue));
    height: 75px;
}
.ion-button{
    
}