.ion-row{
    margin-top: 20px;
}

.ion-title-toa{
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}
.div-background{
    width: 45px;
    height: 25px;
    border-radius: 3px;
    background-color: #a4a6a8;
    position: absolute;
}
.div-con{
    width: 10px;
    height: 15px;
    border-radius: 3px;
    background-color: #0003;
    margin-top: 5px;
    margin-left: 30px;
}
.ion-title{
    font-size: 16px;
    color: white;
    margin-top: -15px;
    font-weight: bold;
    margin-left: -15px;
}
.right{
    //background-color: darkcyan;
    width: 60%;
    margin-left: 40%;
    margin-top: 20px;
}
.title-left{
    font-size: 14px;
    //position: absolute;
    margin-right: 80px;
}
.title-right{
    font-size: 14px;
    margin-top: -15px;
    margin-left: 80px;
}
.title{
    font-size: 12px;
    margin-left: -90px;
    margin-top: 100px;
}