<ion-header class="background-center" translucent="true">
  <ion-toolbar color="primary">
    <ion-item class="ion-item" color="primary">
      <ion-icon
        (click)="dismiss()"
        class="icon"
        name="arrow-back-outline"
      ></ion-icon>
      <ion-title class="title-header">Chọn ngày đi</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item style="text-align: center">
    <div class="daygo">
      <ion-label>Ngày đi</ion-label>
      <ion-title class="ion-title-day" >{{from}}</ion-title>
    </div>
  </ion-item>
  <div>
    <ion-calendar [(ngModel)]="dateRange"
    (monthChange)="monthChange()"
    [type]="type"
    (monthChange)="monthChange($event)"
    (change)="onChange($event)"
    [format]="'DD/MM/YYYY'"
    >
</ion-calendar>
  </div>
  <ion-item>
    <ion-checkbox [(ngModel)]="ischeckbox" (ionChange)="clickcheckbox($event)"></ion-checkbox>
    <ion-label>Hiển thị âm lịch</ion-label>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-button (click)="click()">Tiếp tục</ion-button>
</ion-footer>
