.background-center{
    background-color: blue;
     
}
.title-header{
    text-align: center;
    font-weight: bold;
    color: white;
}
.icon{
    color: white;
    font-size: 30px;
}
.daygo{
    width: 100%;
    text-align: center;
    margin-left: -20px;
}
.returnday{
    width: 50%;
    text-align: center;
}
.ion-title-day{
    font-size: 14px;
}
.ion-item{
    --color: var(--ion-toolbar-color, var(--ion-text-color, blue));
}