
  <div>
    <calendar
      [formatDayTitle]="'MMMM, dd, yyyy'"
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      (onCurrentDateChanged)="onCurrentDateChanged($event)"
      [markDisabled]="markDisabled()"
      step="30"
      class="calendar"
    >
    </calendar>
  </div>
  <ion-item>
    <ion-checkbox (ionChange)="clickcheckbox($event)"></ion-checkbox>
    <ion-label>Hiển thị âm lịch</ion-label>
  </ion-item>


<ion-footer>
  <ion-button (click)="click()">Tiếp tục</ion-button>
</ion-footer>
