.title-header{
    text-align: center;
    font-weight: bold;
    color: white;
}
.ion-item{
    // --border: var(ion-color-none);
    // border-color: var(--ion-color-none);
    --color: var(--ion-toolbar-color, var(--ion-text-color, blue));

}
.ion-search{
    width: 90%;
    border-radius: 5px;
    margin-left: 20px;
}
.icon{
    color: white;
    font-size: 30px;
}
.div-header{
    width: 90%;
    margin-left: 20px;
}
.background-center{
   background-color: blue;
    
}
.ion-content{
    width: 100%;
    --background: var(--ion-background-color, #fff);
}
.ion-label-search{
    font-size: 20px;
    font-weight: bold;
}
.ion-title-header{
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}
.ion-label-adrress{
    font-size: 14px;
    margin-left: 15px;
}

// .item-locate{
//     border-radius: 8px;
//     width: 40%;
//     margin-left: 223px;
//     --background: var(--ion-background-color, #ecf0f5);
//     margin-top: -49px;
// }
.label-search{
    font-size: 12px;
}
.label-locate{
    font-size: 14px;
    color: blue;
}
.label-address{
    font-size: 16px;
    font-weight: bold;    
    top: 10px;
}
.ion-label{
    font-size: 14px;
}
.div-search-popular{
    margin-top: 10px; 
    box-shadow: 5px 1px 5px 2px lightblue; 
    background-color: white;
    border-radius: 8px;
    width: 130px; 
    height: 90px;
    margin-left: 5px;
}
.div-content-popular{
    height: 20px;
    background-color: yellow;
}
.div-list{
    width: 100%;
}
.item-list{
    margin-top: 10px;
}
.selected{
    color: blue;
    background-color: #ecf0f5 !important;
}