<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Danh Mục</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content >
    <ion-button (click)="getDaTa()">getData</ion-button>
    <div *ngFor="let datas of data">
    <title style="text-align: center; font-size: 18px;">{{datas.id}}</title>
    <title style="text-align: center; font-size: 18px;">{{datas.maGa}}</title>
    <title style="text-align: center; font-size: 18px;">{{datas.tenGa}}</title>
    <title style="text-align: center; font-size: 18px;">{{datas.sKeys}}</title>
    <title [(ngModel)]="data">{{data}}123</title>
</div>
</ion-content>