
.background-center{
    background-color: blue;
    
}
.title-header{
    text-align: center;
    color: white;
    font-weight: bold;
}
.ion-item{
    // display: none;
}
.icon{
    font-size: 30px;
    color: white;
}
.ion-search{
    width: 90%;
}
.ion-label{
    font-size: 12px;
}
.ion-contnet{
    top: 10px;
    left: 20px;
}
.ion-label-search{
    font-size: 18px;
}
.ion-label-city{
    font-size: 16px;
    font-weight: bold;
}
.ion-label-adrress{
    font-size: 12px;
}
.div-item{
    //display: block;
    margin-top: 10px; 
    width: 90%;
    margin-left: -20px;
}