<div>
<div>
  <ion-title class="ion-title-toa">Toa 1: Ngồi mềm điều hòa</ion-title>
</div>
<div>
  <ion-grid>
    <ion-row class="ion-row" *ngFor="let item of slGhe">
      <ion-col>
        <div>
            <div>
          <div class="view"></div>
          <div class="content"></div>
        </div>
          <div class="top" (click)="click(item)">
            <ion-icon class="iconghe" name="square-outline"></ion-icon>
            <ion-title class="title">{{item.gheso4}}</ion-title>
          </div>
        </div>
      </ion-col>
      <ion-col class="left">
        <div>
            <div>
          <div class="view"></div>
          <div class="content"></div>
        </div>
          <div class="top">
            <ion-icon class="iconghe" name="square-outline"></ion-icon>
            <ion-title class="title">{{item.gheso3}}</ion-title>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <div>
          <div class="view"></div>
          <div class="content"></div>
        </div>
          <div class="top">
            <ion-icon class="iconghe" name="square-outline"></ion-icon>
            <ion-title class="title">{{item.gheso2}}</ion-title>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div>
            <div>
          <div class="view"></div>
          <div class="content"></div>
        </div>
          <div class="top">
            <ion-icon class="iconghe" name="square-outline"></ion-icon>
            <ion-title class="title">{{item.gheso1}}</ion-title>
          </div>
        </div>
      </ion-col>
    </ion-row>
      <div style="background-color: #0009; width: 40%; height: 20px; margin-left: 8px; margin-top: 20px; border-radius: 5px;"></div>
      <div style="background-color: #0009; width: 40%; height: 20px; margin-left: 55%; margin-top: -20px; border-radius: 5px;"></div>
      <ion-row class="ion-row" *ngFor="let item of slGhe">
        <ion-col>
          <div>
              <div>
            <div class="view"></div>
            <div class="content"></div>
          </div>
            <div class="top">
              <ion-icon class="iconghe" name="square-outline"></ion-icon>
              <ion-title class="title">{{item.gheso4}}</ion-title>
            </div>
          </div>
        </ion-col>
        <ion-col class="left">
          <div>
              <div>
            <div class="view"></div>
            <div class="content"></div>
          </div>
            <div class="top">
              <ion-icon class="iconghe" name="square-outline"></ion-icon>
              <ion-title class="title">{{item.gheso3}}</ion-title>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
              <div>
            <div class="view"></div>
            <div class="content"></div>
          </div>
            <div class="top">
              <ion-icon class="iconghe" name="square-outline"></ion-icon>
              <ion-title class="title">{{item.gheso2}}</ion-title>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div>
              <div>
            <div class="view"></div>
            <div class="content"></div>
          </div>
            <div class="top">
              <ion-icon class="iconghe" name="square-outline"></ion-icon>
              <ion-title class="title">{{item.gheso1}}</ion-title>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</div>