.view{
    width: 7px; 
    height: 15px; 
    border-radius: 10px; 
    //position: absolute;
    //margin-left: 43px; 
    //margin-top: 3px;
    background-color: #a4a6a8;
}
.content{
    width: 7px; 
    height: 15px;
    margin-top: -15px; 
    border-radius: 10px; 
    margin-left: 40px; 
    background-color: #a4a6a8;
}
.iconghe{
    margin-left: 10px;
    font-size: 28px; 
    display: inline-table; 
    background-color: #a4a6a8;
}
.top{
    margin-top: -15px;
}
.ion-row{
    margin-top: 20px;
}
.title{
    font-size: 14px; 
    margin-top: -28px; 
    margin-left: -8px;
    color: white;
    font-weight: bold;
}
.ion-title-toa{
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
}
.left{
    margin-right: 25px;
}