.ion-content{
    top: 10px;
    left: 20px;
}
.label{
    font-size: 12px;
    margin-top: 10px;
}
.title-address{
    font-size: 18px;
}
.item-address{
    background-color: lightblue;
    width: 80%;
    margin-top: 10px;
    border-radius: 5px;
}
.item-date{
    background-color: lightblue;
    width: 70%;
    margin-top: 10px;
    border-radius: 5px;
}
.item-custom{
    background-color: lightblue;
    width: 90%;
    margin-top: 10px;
    border-radius: 5px;
}
.ion-button{
    width: 90%;
}