<ion-header>
    <ion-toolbar>
        <ion-title style="text-align: center;">Thêm</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
    <ion-label class="ion-label">Tài khoản của tôi</ion-label>
    <ion-item >
        <img src="../../assets//imgs/ic_login.svg" width="5%"/>
        <ion-title class="ion-title"><a (click)="onClickLogin()">Đăng nhập</a>/<a (click)="onClickRigister()">Đăng ký</a></ion-title>
    </ion-item>
    <ion-item >
        <img src="../../assets//imgs/ic_i_p.svg" width="5%" />
        <ion-title class="ion-title">IVIVUPoint</ion-title>
    </ion-item>
    <ion-item >
        <img src="../../assets//imgs/ic_people.svg" width="5%" />
        <ion-title class="ion-title">Hồ sơ của bạn</ion-title>
    </ion-item>
    <ion-item>
        <img src="../../assets/imgs/ic_heart_b.svg" width="5%" />
        <ion-title class="ion-title">Sở thích du lịch</ion-title>
    </ion-item>
    <div class="ion-item">
    <ion-label class="ion-label">Nhân viên hỗ trợ</ion-label>
    <ion-item >
        <img src="../../assets/imgs/ic_callcenter.svg" width="5%" />
        <ion-title class="ion-title-help">IVIVU Hà Nội - 19002045</ion-title>
        <img src="../../assets/imgs/ic_call.svg" width="5%" />
    </ion-item>
    <ion-item >
        <img src="../../assets/imgs/ic_callcenter.svg" width="5%"/>
        <ion-title class="ion-title-help">IVIVU Hồ Chí Minh - 19001870</ion-title>
        <img src="../../assets/imgs/ic_call.svg" width="5%"/>
    </ion-item>
    <ion-item>
        <img src="../../assets/imgs/ic_callcenter.svg" width="5%" />
        <ion-title class="ion-title-help">IVIVU Cần Thơ - 19002087</ion-title>
        <img src="../../assets/imgs/ic_call.svg" width="5%" />
    </ion-item>
</div>
<div class="ion-item">
    <ion-label class="ion-label">Cài đặt</ion-label>
    <ion-item >
        <img src="../../assets/imgs/ic_noti.svg" width="5%" />
        <ion-title class="ion-title">Thông báo</ion-title>
    </ion-item>
</div>
</ion-content>